body {
    background-color: pink;
}
#Skibidi{
    text-decoration: underline;
}
#skibidi2{
    color: rgb(64, 8, 248);
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 16px;
    border: 3px solid rgb(64, 8, 248);
    border-radius: 15px;
    background-color: rgba(64, 8, 248, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.fancy-link:hover {
    color: white;
    background-color: rgb(64, 8, 248);
}
#welcome{
    text-align: center;
}
